*{
    box-sizing: border-box;
}

header{
    height: 50px;
    background-image: linear-gradient(to top, rgb(255, 163, 126) 0% , white 100% );
}
h1{
    color: ;
}
main{
    width: 80vw;
    border: solid black;
    margin: auto;
    text-align: center;
}
#calcolatrice{
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    width: 40vw;
    display: inline-block;
    padding-bottom: 2rem;
}
#display{
    margin: 0.8rem 0 ;
    padding: 0.9rem;
    width: 74%;
}
.tasto{
    background-color: rgb(255, 255, 255) ;
    color:orangered;
    font-size: 2rem;
    text-align: center;
    border: 0.1rem solid orange;
    margin: 0.3vw;
    width: 8vw;
    height: auto;
    display: inline-block;
    border-radius: 90px;
}
.uguale{
    width: 3rem;
    display: inline-block;
    text-align: center;
    width: 86%;
    height: auto;
    font-size: 2rem;
    background-color: rgb(251, 111, 61) ;
    border-radius: 15px;
}
