a {
  color: black;
  background-color: rebeccapurple;
  padding: 2px;
  border-radius: 3px;
  font-size: 5rem;
  transition: 0s; }
  a:hover {
    background-color: aqua;
    box-shadow: 2px 2px black 2px; }

body {
  width: 100%; }

header {
  width: 100%; }
