h1{
    text-align: center;
}
table{
    border: 1px solid black;
    margin: auto;
}
table tr{
    border: 1px solid black;

}
table td {
    background-color: aqua;
    padding: 1px;
    text-align: center;
}
button{
    background-color: red;
    color: aliceblue;
}