h1{
    text-align: center;
}
main{
    padding-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-image: url(../img/HD-wallpaper-naruto-anime-funny-thumbnail.jpg);
    background-position: center;
    background-size: contain;
    height: 500px;
}
table{
    border: 2px solid black;
    margin: auto;
    padding: 15px;
}
table tr{
    border: 1px solid black;
    padding: 2px;

}
table td {
    background-color: burlywood;
    padding: 5px;
    text-align: center;
}
button{
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    margin-left: 1.5vw;
    border: 2px solid blue;
}