/* IMPOSTAZIONI GENERALI */
html {
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8rem;
    color: #000;
    padding: 2%;
}
/* HEADER */
header{
    padding: 2%;
    line-height:1.1rem ;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 1.0rem;
}
#icona{
    color: #e42424
}
header img{
    float: left;
    height: 2%;
}
#blocco1{
    background-image: url(../images/banner.jpg);
    background-position: center;
    color: white;
    padding: 15px;
    height: auto;
    width: 100%;
    
}
#bottone{
    background: linear-gradient(45deg, white, blue);
    font-size: 1.9rem;
    color: white;
}
    

/* MAIN */

/* FOOTER */

/* RESPONSIVE */
