/* IMPOSTAZIONI GENERALI */
html{
    font-size: 62.5%;
}
body{
    color: black;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8rem;
}

/* HEADER */
@media screen (max-whith:450px) {
    header nav ul{
    color: black;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #c3c3c3;
    width: 30vw;
    height: 40vh;
    box-shadow: 2ox 2px 6px black;
    z-index: 1;
}
.btnmenu{
    display: none;
}
.icomenu{
    position: absolute;
    top: 5vh;
    right: 1vw;
    z-index: 2;
}
.btnmenu:checked~ nav ul {
    right: 0%;

}
}
header{
    line-height: 1.2em;
    box-shadow: 2 2 2 black;
}
header img{
    float: left;
    padding: 3%;
}
nav{
    padding: 3vw;
    text-align: right;
}
nav>a{
    padding: 3vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
/* MAIN */
main{
    clear: both;
}
main h1{
    font-size: 4rem;
    text-shadow: 2px 2px black;
    padding-bottom: 3vw;
    text-align: left;
    padding-left: 28%;
    padding-right: 25%;   
}
.perche{
    text-align: center;
}
h2{
    font-size: 3.5rem;
    padding: 7vh;
}
#blocco1{
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 30vh;
    padding-top: 5%;
    display: block;
    line-height: 1.8rem;
    color: white;
    text-align: left;
    padding-bottom: 3%;
}
#blocco1 p{
    display: block;
    padding-left: 28%;
    padding-right: 25%;
    word-wrap: normal;
    padding-bottom: 3%;
}
#blocco1 .bottone{
    position: relative;
    left: 28%;
    margin-bottom: 5%;
}
.bottone{
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);
    text-decoration: none;
    color: white;
    padding: 0.8%;
    text-align: center;
    background-size: auto;
    padding-left: 3vh;
    padding-right: 3vh;

}

h3{
    font-weight: bold;
    border: 3 vh;
}
.flex{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 5vh;
}
.flex div {
    width: 20%;
    padding: 5vw;
  }
.flex div p{
    text-align: left;
    margin-top: 1vh;
}
.icona{
    color: red;
    font-size: 2em;
}
.blu{
    background-color: #0c0633;
    text-align: center;
    color: white;
    height: 30vh;
}
.blu h3{
    font-weight: bold;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 3vh;
    line-height: 1.8rem;
}
.blu .bottone{
    position: relative;
    top: 7vh;
}
.immagine{
    float: left;
    padding-left: 20vh;
    height: 60%;
}
.immagine img{
    height: auto;
    width: 80%;
}
.flex2{
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    text-align: left;
    padding-top: 10vh;
    justify-content: center;

}
.flex2 div {
    text-align: left;
    width: 30;
    padding-bottom: 5vh;
}
.flex2 h4{
    text-align: left;
    padding: 1vh;
    font-weight: bold;
}

/* FOOTER */
footer{
    clear: both;
    background-color: rgb(238, 238, 238);
}
footer h6{
    font-weight: bold;
}
footer p{
    font-weight: bold;
}
.flex3{
    display: flex;

}
.flex3 div{
    width: 33%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 5vh;
    padding-left: 7vw;
}

footer>p{
    text-align:center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.flex3 .bottone {
    position: relative;
}
@media screen and (max-width:768px) {
    h1{
        line-height: 0.9em;
    }
    #blocco1{
       padding-bottom: 5em;
    }
    #blocco p {
        padding-bottom: 2%;
    }
    .immagine{
        padding-left: 8vh;
    }
    .flex3 .bottone{
        text-align: right;
    } 
}
@media screen and (max-width:450px) {
    #blocco1{
        text-align: left;
    }
    #blocco1 h1{
        padding-left: 1em;
    }
    #blocco1 p{
        padding-left: 1em;
    }
    h2{
        line-height: 1.2em;
    }
    .immagine{
        padding-left: 1em;
        height: 30em;
    }
    .immagine img{
        height: 50%;
        width: 50%;
    }
}

#text{
    width: 100%;
}
@media screen and (min-whidt:768px) {
    .contflex{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5em;
    }
    .contflot{
        float: left;
        text-align: center;
        padding-left: 5em;
    }
}
#Contatti{
    position: relative;
    text-align: center;
    padding: 1em;
}
.contflot{
    float: left;
    text-align: center;
    padding-left: 1em;
}
.contflot input{
    width: 38rem;
    height: 4rem;
    margin: 0.8em;
}
.contflex{
    text-align: center;
    padding-bottom: 2em;
}
.contflot .bottone {
    margin: 2em;
    padding: 1rem;
}
@media screen and (max-whidt:451px){
    #pc{
        display: block;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 2.5em
    }
    .fotopc{
        height: 25vw;
        width: 25vw;
        padding: 2rem;
    }
    .fotopc>p{
        align-self: center;
        align-content: center;
    }
}
#coder{
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    padding: 1.7em;
}
#coder>p{
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}
#pc{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 2.5em
}
.fotopc{
    height: 25vw;
    width: 25vw;
    padding: 2rem;
}
.fotopc>p{
    align-self: center;
    align-content: center;
}
table {
   text-align: center;
   color: black;
   width: 500px;
   display: block;
   margin: auto;
   padding-bottom: 5rem;
}
table caption{
    padding: 2em;
    font-weight: bold;
}
table th{
    background-color: #0c4c66;
    color: white;
    padding: 2rem;
}
table td{
    padding: 2rem;
}
table tr:nth-child(even){
    background-color: rgb(100, 219, 179);
}


/* RESPONSIVE */