@import 'https://fonts.googleapis.com/css2?family=Redressed&family=Shizuru&display=swap';

#carosello{
    width: 315px;
    height: auto;
    margin: auto;
    padding-bottom: 2rem;
}

#icone{
    color: black;
    text-align: center;
    font-size: x-large;
}
.nav-link{
    text-decoration: underline;
    font-weight: bold;
}

@mixin boss{
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 3px 3px 3px black;
}
@mixin testo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

body nav{
    @include boss
}
footer{
    background-color: greenyellow;
    @include boss;
    position: relative;
}
footer #ancora{
    position: absolute;
    right: 15vh;
    bottom: 1.5vw;
    font-size: 3rem;
}
#ancora a{
    color: white;
}
@import "function";

$bg-color-dark: rgb(231, 220, 67);
$bg-color-light : cyan;


main{
    background-color: $bg-color-dark;
    color: color-contrast($bg-color-dark);
    @include testo
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: color-contrast($bg-color-dark);
    text-align: center;
}
.card-group{
    border-bottom: 2px dotted black;
}
footer{
    align-content: center;
    align-items: center;
}
footer p {
    text-align: center;
}
footer span img{
    align-self: center;
}
.carta{
    margin-left: 2rem;
    margin-right: 2rem;
    height: fit-content;
}